.videocol-md-12 {
  /*background-image: url(../img/back.jpg);*/
  text-align: center;
  padding: 0px; height: 0px
  border: 0px;
}

.header{
	float: center; 
	text-align: center;
	color:blue;
}

.col-md-6{
float: center; color:blue;
}
.table{
	float: center; width:100px
	height:300px; 
}

body{
	background-image: url(../img/back.jpg);
}

.roll-col-md-6{
	float: left;
}

.switch-col-md-6{
	float: right; 
}

.tom-col-md-6{
	float: left;
}

.jerry-col-md-6{
	float: right;
}